<!DOCTYPE html>
<html lang="en">
<%- include('../layout/head.ejs') %>
<body>
  <%- include('../layout/header.ejs') %>
  <p style="text-align:center"><a href="/">Home Page</a></p>

  <section>
  <%- include('./detail.ejs', {showDescription : true}) %>
  <!-- <p><%=bookRequested.description %></p> -->
  <h2>ISBN: <%=bookRequested.isbn %></h2>
  <h2>Bookshelf: <%=bookRequested.bookshelf %></h2>
  <button id="update">Update Details</button>
  <!-- <button id="delete">Delete Book</button> -->
  <form id="delete-form" action="/books/<%=bookRequested.id %>/?_overrideMethod=DELETE" method="POST">
      <button id="delete" type="submit">Delete Book</button>
  </form>
  <form id="update-form" action="/books/<%=bookRequested.id %>/?_overrideMethod=PUT" method="POST">
  <fieldset>
    <label for="title">Title</label>
    <input type="text", name="title", value="<%=bookRequested.title %>">
    <label for="author">Author</label>
    <input type="text", name="author", value="<%=bookRequested.author %>">
    <label for="isbn">ISBN</label>
    <input type="text", name="isbn", value="<%=bookRequested.isbn %>">
    <label for="image">Image URL</label>
    <input type="text", name="image", value="<%=bookRequested.image %>">
    <label for="description">Description</label>
    <input type="text", name="description", value="<%=bookRequested.description %>">
    <label for="bookshelf">Bookshelf</label>
    <input type="text", name="bookshelf", value="<%=bookRequested.bookshelf %>">
    <input type="submit", value="Update">
  </fieldset>
</form>
</section>


  
<%- include('../layout/footer.ejs') %>

<script src='/modules/app.js'></script>
  
</body>
</html>