<!DOCTYPE html>
<html lang="en">
<%- include('./layout/head.ejs') %>   
<body>
  <%- include('./layout/header.ejs') %>
  <%- include('./layout/navbar.ejs') %>
  <h2>Errors Page</h2>
  <section>
  <h2><%=errorMessage %></h2>
  </section>
  <%- include('./layout/footer.ejs') %>
  
</body>
</html>