<!DOCTYPE html>
<html lang="en">
<%- include('./layout/head.ejs') %>  
<body>
  <%- include('./layout/header.ejs') %>
  <p style="text-align:center"><a href="/searches/new">Search for books</a></p>
  <h2><%= rowCount %> Saved Books</h2>

  <% booksArray.forEach(book => { %>
    <section>
      <%- include('./books/detail.ejs', {bookRequested: book, showDescription : false}) %>
      <button onclick="window.location.href = '/books/<%=book.id%>'">View Details</button>
  </section>
  <% }) %>

  <%- include('./layout/footer.ejs') %>
  
</body>
</html>
